# Системные файлы
.DS_Store
Thumbs.db

# Файлы и папки IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Исключаем конкретные файлы IntelliJ IDEA, которые могут быть нужны
!/.idea/modules.xml
!/.idea/jarRepositories.xml
!/.idea/compiler.xml
!/.idea/libraries/

# Maven
/target/
!**/src/main/**/target/
!**/src/test/**/target/

# Gradle
/build/
!**/src/main/**/build/
!**/src/test/**/build/

# Eclipse
.classpath
.project
.settings/
.factorypath
.springBeans
.sts4-cache/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Компилированные файлы
*.class

# Логи
*.log

# Временные файлы
*.tmp
*.swp
*~

# Кэш зависимостей
.prefs/
.cache/
.cached/